/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1400px) {
	.become-dealer-img img,
	.promote-bussiness img,
	.amazing-img img {
		width: 100%;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.become-dealer-img img,
	.promote-bussiness img,
	.amazing-img img {
		width: 100%;
	}
	.miracle-marketing-wrpper,
	.summary-wrpper,
	.drivers-seat-wrpper,
	.five-yr-system-wrpper,
	.free-advertising-wrpper,
	.bargain-price-wrpper,
	.annual-raffle-wrpper,
	.customar-service-wrpper,
	.marketing-action-wrpper,
	.final-word-wrpper,
	.sfyourslfe-wrpper {
		max-width: 80%;
		font-size: 18px;
		margin: auto;
	}
}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.largest-banner-desc h2 {
		font-size: 55px;
	}
	.things-list,
	.everything-free,
	.miracle-marketing-wrpper,
	.summary-wrpper,
	.drivers-seat-wrpper,
	.five-yr-system-wrpper .free-advertising-wrpper,
	.five-yr-system-wrpper,
	.free-advertising-wrpper,
	.bargain-price-wrpper,
	.annual-raffle-wrpper,
	.customar-service-wrpper,
	.marketing-action-wrpper,
	.final-word-wrpper,
	.sfyourslfe-wrpper {
		max-width: 80%;
	}

	.become-dealer-img img,
	.promote-bussiness img,
	.amazing-img img {
		width: 100%;
	}
	.your-flyers h3 {
		font-size: 26px;
	}
	.marketing-tools-desc p {
		font-size: 20px;
	}
}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	.free-marketing-wrpper h1 {
		font-size: 45px;
	}
	.things-list,
	.everything-free,
	.miracle-marketing-wrpper,
	.summary-wrpper,
	.drivers-seat-wrpper,
	.five-yr-system-wrpper,
	.free-advertising-wrpper,
	.bargain-price-wrpper,
	.annual-raffle-wrpper,
	.customar-service-wrpper,
	.marketing-action-wrpper,
	.final-word-wrpper,
	.sfyourslfe-wrpper {
		max-width: 90%;
	}
	.miracle-marketing-cnt span,
	.outside-cnt p {
		margin-bottom: 15px;
	}
	.outside-cnt h2 {
		font-size: 28px;
	}
	.promot-bussiness-dsc h3 br {
		display: none;
	}
	.promot-bussiness-dsc h3 {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.marketing-tools-desc p:first-child,
	.marketing-tools-desc p:nth-child(2) {
		margin-bottom: 10px;
	}
	.annual-raffle-wrpper h2 {
		font-size: 27px;
		margin-top: 30px;
	}
	.need-space-two {
		margin-top: 25px;
	}
	.bargain-price-wrpper h2 {
		font-size: 32px;
	}
	.marketing-plane-image {
		width: 33% !important;
	}
	.final-word-area {
		padding-top: 30px;
	}
	.final-word-wrpper h2 {
		font-size: 50px;
	}
	.final-word-wrpper > span {
		font-size: 25px;
	}
	.final-word-wrpper h3 {
		font-size: 32px;
	}
	.customar-service-wrpper,
	.marketing-action-area {
		padding-top: 25px;
	}
}

/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 767px) {
	.header-area {
		padding: 10px 0;
	}
	.logo-card a {
		font-size: 30px;
	}
	.largest-banner-desc h2 {
		font-size: 35px;
	}
	.largest-banner-desc h3 {
		font-size: 50px;
	}
	.largest-wrpper {
		padding: 20px 0;
	}

	.free-marketing-wrpper h1 {
		font-size: 29px;
	}
	.free-marketing-wrpper h3 p {
		padding: 10px 6px;
		font-size: 18px;
	}
	.start-now p {
		font-size: 22px;
		padding-right: 20px;
	}

	.first-week-cnt h2,
	.first-week-cnt .first-week-free-trial {
		font-size: 30px;
	}
	.first-week-cnt h3 {
		font-size: 37px;
	}
	.first-week-person img:last-child {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
	}
	.largest-banner-desc {
		margin-top: 25px;
	}

	.things-list {
		max-width: 100%;
	}
	.few-things-area {
		padding: 50px 0;
	}

	.everything-free {
		max-width: 100%;
		margin: 25px auto 0;
	}
	.everything-free > h5 {
		font-size: 26px;
	}
	.everything-free > h6 {
		font-size: 40px;
	}
	.everything-free > p {
		font-size: 32px;
	}

	.miracle-marketing-wrpper,
	.summary-wrpper,
	.drivers-seat-wrpper,
	.five-yr-system-wrpper,
	.free-advertising-wrpper,
	.bargain-price-wrpper,
	.annual-raffle-wrpper,
	.customar-service-wrpper,
	.marketing-action-wrpper,
	.final-word-wrpper,
	.sfyourslfe-wrpper {
		max-width: 100%;
		margin-top: 0;
	}
	.outside-cnt h2 {
		font-size: 25px;
	}
	.outside-cnt-two h3 {
		font-size: 25px;
	}
	.miracle-marketing-cnt span,
	.outside-cnt p {
		font-size: 20px;
	}
	.outside-cnt-two p,
	.w-full-p,
	.outside-cnt-three p {
		font-size: 20px;
	}

	.summary-wrpper h2 {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.summary-banner-img p,
	.summary-wrpper p,
	.marketing-tools-desc p:first-child,
	.marketing-tools-desc p:nth-child(2),
	.marketing-tools-desc p,
	.font-25,
	.five-yr-system-wrpper p {
		font-size: 20px;
	}
	.drivers-seat-wrpper > h2 {
		font-size: 23px;
		margin-bottom: 15px;
	}
	.marketing-tools-desc p:first-child,
	.marketing-tools-desc p:nth-child(2) {
		margin-bottom: 10px;
	}

	.need-space-two {
		margin-top: 0px;
	}
	.your-contest h3,
	.your-flyers h3 {
		margin-bottom: 5px;
		margin-top: 10px;
		font-size: 27px;
	}
	.bargain-price-wrpper h2 {
		font-size: 31px;
		margin-bottom: 15px;
	}
	.annual-raffle-wrpper h2 {
		font-size: 25px;
		margin-bottom: 15px;
		margin-top: 20px;
	}
	.marketing-action-wrpper h3,
	.your-action-plane h4 {
		font-size: 27px;
	}
	.marketing-action-area {
		padding-top: 25px;
	}
	.need-space-three {
		margin-top: 0px;
	}
	.marketing-action-wrpper p {
		font-size: 20px;
	}
	.final-word-wrpper h2 {
		font-size: 40px;
	}
	.final-word-area {
		padding-top: 15px;
	}
	.final-word-img img {
		width: 100%;
		margin: 10px auto;
	}
	.final-word-wrpper p br,
	.final-word-wrpper > span br {
		display: none;
	}
	.final-word-wrpper h3 {
		font-size: 26px;
		margin-top: 10px;
	}
	.final-word-wrpper h4 {
		font-size: 25px;
	}
	.final-word-wrpper h5 {
		font-size: 22px;
	}
	.final-word-wrpper h6 {
		font-size: 23px;
	}
	.final-word-wrpper > span {
		font-size: 20px;
	}
	.sfyourslfe-wrpper h4 {
		font-size: 30px;
	}
	.sfyourslfe-wrpper h2 {
		font-size: 32px;
	}
	.sfyourslfe-wrpper h5 {
		font-size: 27px;
	}
	.sfyourslfe-wrpper h1 {
		font-size: 45px;
	}
	.sfyourslfe-wrpper p {
		font-size: 21px;
	}
	.see-for-yourslfe-area {
		padding-top: 25px;
	}
	.customar-service-wrpper {
		padding-top: 10px;
	}
	.customar-service-wrpper h2 {
		font-size: 28px;
	}
	.annual-raffle-wrpper h2 br {
		display: none;
	}
}
