/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.largest-banner-desc h2 {
		font-size: 55px;
	}
	.things-list, .everything-free {
		max-width: 80%;
	}
}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	.free-marketing-wrpper h1 {
		font-size: 45px;
	}
	.things-list, .everything-free {
		max-width: 90%;
	}
}

/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 767px) {
	.header-area {
		padding: 10px 0;
	}
	.logo-card a {
		font-size: 30px;
	}
	.largest-banner-desc h2 {
		font-size: 35px;
	}
	.largest-banner-desc h3 {
		font-size: 50px;
	}
	.largest-wrpper {
		padding: 20px 0;
	}

	.free-marketing-wrpper h1 {
		font-size: 29px;
	}
	.free-marketing-wrpper h3 p {
		padding: 10px 6px;
		font-size: 18px;
	}
	.start-now p {
		font-size: 22px;
		padding-right: 20px;
	}

	.first-week-cnt h2,
	.first-week-cnt .first-week-free-trial {
		font-size: 30px;
	}
	.first-week-cnt h3 {
		font-size: 37px;
	}
	.first-week-person img:last-child {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
	}
	.largest-banner-desc {
		margin-top: 25px;
	}

	.things-list {
		max-width: 100%;
	}
	.few-things-area {
		padding: 50px 0;
	}

	.everything-free {
		max-width: 100%;
		margin: 25px auto 0;
	}
	.everything-free > h5 {
		font-size: 26px;
	}
	.everything-free > h6 {
		font-size: 40px;
	}
	.everything-free > p {
		font-size: 32px;
	}
}
