/*=====================
FONTS LINK HERE
======================*/

/*======================
DEFAULT CSS HERE
========================*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #d1ffe6;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a,
a:hover {
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

::selection {
	color: white;
	background: #ff7675;
}

::-webkit-selection {
	color: white;
	background: #ff7675;
}

::-moz-selection {
	color: white;
	background: #ff7675;
}

.scrolltotop {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #008b8b;
	text-align: center;
	font-size: 22px;
	color: #ffffff;
	position: fixed;
	right: 30px;
	bottom: 25px;
	display: none;
	animation: lab_top_up 5s linear infinite;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
}

.scrolltotop i {
	color: #ffff;
}

@keyframes lab_top_up {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-15px);
	}
}

.pluse,
.pluse2 {
	position: relative;
	top: 13px;
	left: -8px;
	z-index: -1;
}

.pluse::before,
.pluse2::before {
	width: 40px;
	height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
	background: #008b8b;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	display: block;
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
}

.pluse::after,
.pluse2::after {
	width: 30px;
	height: 30px;
	background: transparent;
	margin-left: -15px;
	margin-top: -15px;
}

.pluse::before {
	-webkit-animation: pluse_animate 2.5s infinite linear;
	animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
	-webkit-animation: pluse_animate 3s infinite linear;
	animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
	0% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(0.3);
		transform: translate(-50%, -50%) scale(0.3);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(2);
		transform: translate(-50%, -50%) scale(2);
	}
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

/*======================
HEADER CSS HERE
========================*/
.header-area {
	padding: 20px 0;
}

.logo-card a,
.offcanvas-header a {
	color: #2f5496;
	font-size: 35px;
	font-weight: 700;
}

.menu-card ul {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 20px;
}

.menu-card ul li a,
.offcanvas-body ul li a {
	color: #000;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}

.SMN_effect-14 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.SMN_effect-14 a:before {
	position: absolute;
	top: 65%;
	left: 50%;
	color: transparent;
	content: "•";
	text-shadow: 0 0 transparent;
	font-size: 13pt;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.SMN_effect-14 a:hover:before,
.SMN_effect-14 a:focus:before {
	color: #2f5496;
	text-shadow: 10px 0 #2f5496, -10px 0 #2f5496;
}

.SMN_effect-14 a:hover,
.SMN_effect-14 a:focus {
	color: #2f5496;
}

.humbarger-icon {
	font-size: 35px;
	cursor: pointer;
}

.btn-close:focus {
	box-shadow: none !important;
}

.offcanvas-header {
	padding: 6px 1rem;
}

.offcanvas-body ul {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

/* Best Largest World Class Area Css */
.largest-wrpper {
	padding: 80px 0;
}

.largest-banner-desc h2 {
	font-size: 70px;
	font-weight: 600;
	text-align: center;
}

.largest-banner-desc h2 span {
	color: #2f5496;
}

.largest-banner-desc h3 {
	font-size: 60px;
	font-weight: 600;
	text-align: center;
	color: #ee0000;
}

.largest-banner-desc h4 {
	color: #2f5496;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
	margin-top: 30px;
}

.largest-banner-desc h4 span {
	color: #ee0000;
}

/* Best Largest World Class Area Css */
.free-marketing-wrpper h2 {
	font-size: 35px;
	font-weight: 600;
}

.free-marketing-wrpper h1 {
	display: inline-block;
	color: #c70000;
	background-color: #fffcff;
	font-size: 60px;
	font-weight: 600;
	margin: 10px 0;
}

.free-marketing-wrpper > p {
	max-width: 400px;
	margin: 10px auto;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
}

.free-marketing-wrpper > p span {
	color: #c70000;
}

.free-marketing-wrpper ul {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.free-marketing-wrpper ul li span,
.free-marketing-wrpper h3 span {
	color: #ee0000;
}

.free-marketing-wrpper ul li {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.free-marketing-wrpper h3 {
	margin-top: 30px;
	font-weight: 700;
}

.free-marketing-wrpper h3 p {
	background-color: #00ffff;
	display: inline-block;
	padding: 15px 10px;
}

.start-now p {
	background-color: #00ffff;
	padding-left: 20px;
	display: inline-block;
	font-size: 25px;
	margin-top: 15px;
	font-weight: 700;
}

.start-now p a {
	text-decoration: underline;
	color: #0563c1;
}

.top-address p {
	margin-top: 15px;
	font-size: 17px;
}

/* Your First Week Area CSS */
.your-first-week {
	padding-top: 40px;
}
.first-week-cnt h2 {
	text-decoration: underline;
	font-size: 38px;
	text-align: center;
	font-weight: 700;
}
.first-week-cnt .first-week-free-trial {
	text-decoration: underline;
	font-size: 38px;
	text-align: center;
	font-weight: 700;
	color: #ee0000;
	display: block;
}

.first-week-cnt h3 {
	margin-top: 15px;
	font-size: 45px;
	text-align: center;
	font-weight: 700;
}

.first-week-cnt .send-email {
	color: #055fba;
	display: block;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	text-decoration: underline;
}

.first-week-cnt h4 {
	text-align: center;
	font-weight: 700;
}

.first-week-cnt button {
	border: none;
	margin-top: 15px;
	background: transparent;
}

.first-week-person img:last-child {
	margin-left: 30px;
	width: 250px;
	display: block;
}

/* Here Few Things Area Start */
.few-things-area {
	padding: 80px 0;
}
.few-things-wrpper > h2 {
	font-weight: 700;
	text-align: center;
}

.things-list {
	max-width: 60%;
	margin: auto;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.things-list li {
	font-size: 20px;
}

.things-list li span,
.things-list li a {
	color: #ee0000;
}

.everything-free {
	max-width: 60%;
	margin: 40px auto 0;
	border: 5px solid #ee0000;
	padding: 10px 20px;
	text-align: center;
}

.everything-free > h2 {
	font-weight: 700;
	text-align: center;
	color: #ee0000;
}

.everything-free > h3,
.everything-free > h4 {
	font-weight: 700;
	margin: 10px 0;
}

.span-color {
	color: #ee0000;
}

.everything-free > h5 {
	font-weight: 700;
	font-size: 32px;
}

.everything-free > h6 {
	color: #48599f;
	font-size: 55px;
	font-weight: 700;
}

.everything-free > p {
	color: #48599f;
	font-size: 40px;
	font-weight: 700;
}

/* Miracle Marketing System Area CSS */

.miracle-marketing-wrpper h2 {
	font-size: 35px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 25px;
}

.miracle-marketing-cnt p {
	font-weight: 700;
}

.miracle-marketing-wrpper,
.summary-wrpper,
.drivers-seat-wrpper,
.five-yr-system-wrpper {
	max-width: 60%;
	font-size: 18px;
	margin: auto;
}

.miracle-marketing-cnt h3 {
	font-weight: 700;
	text-align: center;
	font-size: 35px;
	margin-top: 35px;
}

.miracle-marketing-cnt span,
.outside-cnt p {
	font-size: 25px;
	font-weight: 500;
	display: inline-block;
	margin-top: 10px;
}

.miracle-marketing-img img {
	width: 200px;
}

.outside-cnt h2 {
	font-weight: 700;
	font-size: 30px;
	text-align: left;
	margin-bottom: 0;
}

.outside-cnt-two p,
.w-full-p,
.outside-cnt-three p {
	font-size: 25px;
}

.outside-cnt-two h3 {
	font-weight: 700;
	font-size: 28px;
	margin: 15px 0;
}

.mms-title {
	font-weight: 700;
	margin-top: 30px;
}

.need-space {
	margin-top: 15px;
}

/* Summary Area CSS */
.summary-area {
	margin-top: 40px;
}

.summary-wrpper h2 {
	font-weight: 700;
	font-size: 30px;
}

.summary-wrpper p {
	font-size: 25px;
}

.summary-banner-img img {
	width: 80%;
}

.summary-banner-img h2 {
	font-weight: 700;
	font-size: 30px;
	margin-top: 5px;
}

.summary-banner-img p {
	font-size: 25px;
	margin-top: 15px;
}

.promot-bussiness-dsc p {
	font-size: 20px;
}

.promot-bussiness-dsc p:first-child {
	margin-bottom: 15px;
}

.promot-bussiness-dsc h3,
.become-dealer-desc h3 {
	font-weight: 700;
}

.promotional-websites h2 {
	font-weight: 700;
	font-size: 28px;
	text-align: center;
	margin-top: 30px;
}

.promotional-websites p:last-child {
	margin-top: 20px;
}

.become-dealer-desc p,
.become-dealer-desc-outside {
	font-size: 20px !important;
}

/* driver’s seat css */
.drivers-area {
	padding-top: 30px;
}
.drivers-seat-wrpper > h2 {
	font-size: 28px;
	font-weight: 700;
	text-align: center;
}

.marketing-tools-desc p {
	font-size: 25px;
}

.marketing-tools-desc p:first-child,
.marketing-tools-desc p:nth-child(2) {
	margin-bottom: 25px;
}

.font-25 {
	font-size: 25px;
}

.five-yr-system-wrpper {
	margin-top: 20px;
}

.five-yr-system-wrpper h2 {
	font-weight: 700;
	text-align: center;
}

.last-item {
	margin-bottom: 20px;
}

.five-yr-system-wrpper p {
	font-size: 25px;
	margin-bottom: 20px;
}

.your-contest h3,
.your-flyers h3 {
	font-size: 33px;
	margin-bottom: 15px;
	font-weight: 700;
	text-align: center;
}
.need-space-two {
	margin-top: 50px;
}

.your-flyers p {
	margin-bottom: 0 !important;
}
